body {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	background-image: url(../img/bg2.jpg);
	background-size:100% 100%;
    background-repeat:no-repeat;
}

p,table {
	font-size: 12px;
	color: #000000;
}
.imgcenter{
 border:0px solid #000; 
 text-align:center;
}
input,textarea {
	font-size: 12px;
}
a {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:link {color:#000000;}
a:visited {color:#000000;}
a:hover {color:#0000ff;font-size:130%;}

.input1 {
	width: 150;
	height: 20;
}